{% extends 'template.html.twig' %}
{% block title %}Newsletter{% endblock %}
{% block body %}
<div class="page-inner mt--5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Consulter Newsletter</div>
									<div class="card-category">Paramètres > Newsletter > Consulter</div>
								</div>
   <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ newsletter.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ newsletter.email }}</td>
            </tr>
            <tr>
                <th>Date En</th>
                <td>{{ newsletter.dateEn ? newsletter.dateEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="card-action">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('newsletter_index') }}" class="btn btn-primary" >back to list</a>

                <a href="{{ path('newsletter_edit', {'id': newsletter.id}) }}" class="btn btn-warning" ><i class="fa fa-edit"></i> Modifier</a>
            </div>										
        </div>
    </div>
   

    {{ include('newsletter/_delete_form.html.twig') }}

