<div class="page-inner mt--5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">{{type}} {{texte}}</div>
									<div class="card-category">{{cat}} > {{texte}} > {{type}}</div>
									{%if type == "Modifier" %}
										{%if table == "client" %}
											{{ include('/client1_delete_form.html.twig', {type: type, texte: 'Estimation',table: 'estimation', cat: 'Devis/Annonce' }) }}
										{%elseif table == "artisan"%}
											{{ include('artisan1/_delete_form.html.twig', {type: type, texte: 'Estimation',table: 'estimation', cat: 'Devis/Annonce' }) }}
										{%else%}
											{{ include(table~'/_delete_form.html.twig', {type: type, texte: 'Estimation',table: 'estimation', cat: 'Devis/Annonce' }) }}
										
										{%endif%}
									{%endif%}
								</div>
								
									

{{ form_start(form) }}
<div class="card-body">
    {{ form_widget(form) }}
</div>
    <div class="card-action">
        <div class="row">
            <div class="col-md-12">
                <button  class="btn btn-success" >{{ button_label|default('Enregistrer') }}</button>
                <a class="btn btn-danger" href="{{ path(table~'_index') }}" >Retour à la liste</a>
            </div>										
        </div>
    </div>
    
{{ form_end(form) }}

									
								
							</div>
						</div>
					</div>
					
				</div>
			