{% trans_default_domain 'FOSUserBundle' %}


<!-- Contact Section START -->
<link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
<div class="section-block">
    <div class="container">
        <h2 class="text-center" id="title">Authentification</h2>
        <p class="text-center">
            <small id="passwordHelpInline" class="text-muted">Authentifiez vous pour gerer vos annonces</small>
        </p>
        <hr>
        <div class="row">

            <div class="col-md-6">

                <!-------null------>
            </div>

            <div class="col-md-1">

                <!-------null------>
            </div>

            <div class="col-md-5">
                <div class="row">
                    <form role="form"  class="contact-form" action="{{ path("fos_user_security_artisan_check") }}" method="post" autocomplete="off">
                        <div class="section-heading mt-15 text-center" >
                            <h4>Connectez-vous</h4>
                            <div class="section-heading-line"></div>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"  placeholder="{{ 'security.login.username'|trans }}">

                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}">

                        </div>

                        <div class="col-sm-7 col-lg-7 col-md-7">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 col-sm-3">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                </div>

                                <div class="col-md-9 col-lg-9 col-sm-9">
                                    <label style="margin: 8px 0px">
                                        {{ 'security.login.remember_me'|trans }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-lg-5 col-md-5" style="padding-top: 8px;">
                            <div class="pull-right">
                                <a  href="{{ path('fos_user_resetting_request') }}"  style="color: #d21e2b !important;" >Mot de passe oublié ?</a>

                            </div>
                        </div>

                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="col-md-12 col-lg-12 col-sm-12" id="html_element"></div>

                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <button type="submit" disabled id="google-recaptcha" name="_submit">{{ 'security.login.submit'|trans }}</button>

                        </div>
                    </form>
                </div>

                <br>
                <p style="text-align: center">Vous n'avez pas encore de compte? <a href="{{ path('fos_user_registration_artisan_register') }}" style="color:#2193f1 !important;">Inscrivez vous!</a> </p>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section END -->