{% extends 'template.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
				<div class="page-inner mt--5">
					<div class="row mt--2">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Liste des annonces</h4>
										
									</div>
								</div>
								<div class="card-body">
									

									<div class="table-responsive">
										<table id="add-row" class="display table table-striped table-hover" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Adresse</th>
                <th>CodePostale</th>
                <th>DateEnreg</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.adresse }}</td>
                <td>{{ annonce.codePostale }}</td>
                <td>{{ annonce.dateEnreg ? annonce.dateEnreg|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.etat }}</td>
                <td>
                    <a href="{{ path('annonce_show', {'id': annonce.id}) }}" class="btn btn-primary" title="Consulter" ><i class="fa fa-eye"></i> </a>
                    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}" class="btn btn-warning" title="Modifier"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
								</div>
							</div>
						</div> 	
						
					</div>
					
				</div>
{% endblock %}			