{% extends 'template.html.twig' %}
{% block title %}Annonce{% endblock %}
{% block body %}
<div class="page-inner mt--5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Consulter Annonce</div>
									<div class="card-category">Devis/Annonce > Annonce > Consulter</div>
								</div>
   <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ annonce.adresse }}</td>
            </tr>
            <tr>
                <th>CodePostale</th>
                <td>{{ annonce.codePostale }}</td>
            </tr>
            <tr>
                <th>DateEnreg</th>
                <td>{{ annonce.dateEnreg ? annonce.dateEnreg|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ annonce.etat }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="card-action">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('annonce_index') }}" class="btn btn-primary" ><i class="fa fa-arrow-circle-left"></i> Retourner à la liste</a>

                <a href="{{ path('annonce_edit', {'id': annonce.id}) }}" class="btn btn-warning" ><i class="fa fa-edit"></i> Modifier</a>
            </div>										
        </div>
    </div>
   

    {{ include('annonce/_delete_form.html.twig') }}


									
								
							</div>
						</div>
					</div>
					
				</div>
			
{% endblock %}
