{% extends 'template.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
				<div class="page-inner mt--5">
					<div class="row mt--2">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Liste des articles</h4>
										<a href="{{ path('article_blog_new') }}" class="btn btn-primary btn-round ml-auto">
											<i class="fa fa-plus"></i>
											Ajouter un article
										</a>
									</div>
								</div>
								<div class="card-body">
									

									<div class="table-responsive">
										<table id="add-row" class="display table table-striped table-hover" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Etat</th>
                <th>DateEn</th>
                <th>DatePub</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article_blog in article_blogs %}
            <tr>
                <td>{{ article_blog.id }}</td>
                <td>{{ article_blog.titre }}</td>
                <td>{{ article_blog.description }}</td>
                <td>{{ article_blog.etat ? 'Yes' : 'No' }}</td>
                <td>{{ article_blog.dateEn ? article_blog.dateEn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article_blog.datePub ? article_blog.datePub|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('article_blog_show', {'id': article_blog.id}) }}" class="btn btn-primary" title="Consulter" ><i class="fa fa-eye"></i> </a>
                    <a href="{{ path('article_blog_edit', {'id': article_blog.id}) }}" class="btn btn-warning" title="Modifier"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
								</div>
							</div>
						</div> 	
						
					</div>
					
				</div>
{% endblock %}			