{% extends 'base.html.twig' %}
{% block body %}



    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- Preloader End ici qu'il faut rajouter le menu -->

    {{ render(controller('App\\Controller\\Index\\DefaultController::menu')) }}

    <!-- Navbar END -->



    <!-- Contact Section START -->
    <div class="section-block">
        <div class="container">
            <div class="row">
                <!-- Left Side START -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="services-single-left-box">

                        <!-- Vertical Menu START -->
                        <div class="services-single-left-heading">
                            <h4>Mon Menu</h4>
                        </div>
                        {{ render(controller("App\\Controller\\Client\\ClientController::menu",{id:4})) }}
                        <!-- Vertical Menu END -->

                    </div>
                </div>
                <!-- Left Side END -->

                <!-- Right Side START -->
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="services-single-left-heading">
                                <h4>Détails de l'avis</h4>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{{ path('client_avis') }}" class="btn btn-primary">Retour</a>
                        </div>

                    </div>
                    <div class="row">
                        <div class="project-single-text">
                            <!-- Left Side Start -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <h5>Description de l'avis</h5>
                                <p class="text-justify">{{ avis.contenu }}</p>
                                <i></i>

                            </div>
                            <!-- Left Side End -->

                            <!-- Right Side Start -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <h5>Information de l'annonce</h5>
                                <div class="project-single-info">
                                    <ul>
                                        <li><span>Catégorie :</span> </li>
                                        <li><span>Spécialité : {% for sousspecialite in avis.annonce.sousSpectialite %} <span class="badge" style="color: white;background-color: #0a74a7">{{ sousspecialite }}</span>  {% endfor %}</span></li>
                                        <li><span>Status :</span> {{ avis.annonce.etat }}</li>
                                        <li><span>Artisan :</span> {{ avis.annonce.artisan }}</li>
                                        <li><span>Date :</span> {{ avis.annonce.dateEnreg | date }}</li>

                                    </ul>
                                </div>
                            </div>
                            <!-- Right Side End -->
                        </div>

                    </div>


                </div>
                <!-- Right Side END -->
            </div>
        </div>
    </div>
    <!-- Contact Section END -->




    {{ render(controller('App\\Controller\\Index\\DefaultController::footer')) }}


    <!-- Scroll to top button Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <!-- Scroll to top button End -->

{% endblock %}

{% block script %}
    <script>
        toastr.options.showMethod = 'slideDown';
        toastr.options.hideMethod = 'slideUp';
        toastr.options.closeMethod = 'slideUp';
        toastr.options.positionClass = 'toast-top-full-width';
        toastr.options.progressBar = true
        toastr.options.closeButton = true;
        toastr.options.timeOut = 30000;
        toastr.options.extendedTimeOut = 6000;
        {% for flashMessage in app.session.flashbag.get('confirmer') %}

        toastr.success('{{ flashMessage }}')

        {% endfor %}

    </script>
{% endblock %}