{% extends 'base.html.twig' %}
{% block body %}



    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- Preloader End ici qu'il faut rajouter le menu -->

    {{ render(controller('App\\Controller\\Index\\DefaultController::menu')) }}

    <!-- Page Title START -->
    <div class="page-title-section" style="background-image:url({{ asset('img/banniere.jpg') }});">
        <div class="container">
            <h1>Notre annuaire</h1>
            <ul>
                <li><a href="{{ path('default') }}">Accueil</a></li>
                <li><a href="{{ path('annuaire') }}">Annuaire</a></li>
            </ul>
        </div>
    </div>
    <!-- Page Title END -->


    <!-- Contact Section START -->
    <div class="section-block-grey">
        <div class="container">
            <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row contact-box2">
                       <form class="contact-form2" action="{{ path('rechercher') }}" method="get">
                            <div class="col-md-2">
                               <i class="fa fa-filter"></i> <h4 style="display:inline-block;">Filtre: </h4> 
                            </div>
                            <div class="col-md-5 ">
                                <select type="text" name="category">
                                <option value="0">Toutes les catégories</option>
                                    {% for specialite in specialites %}
                                <option value="{{ specialite.id }}">{{ specialite.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="number" name="codepostal" max="99999"  placeholder="Code postal">
                            </div>
                            <div class="col-md-1">
                                <button type="submit"><em class="fa fa-search white"></em></button>
                                
                            </div>
                        </form>
                    </div>
                </div>
                {% for artisan in pagination %}
                    <div class="col-md-12 col-sm-12 col-xs-12 contact-box2">
                        <div class="col-md-9 ">

                            <h4>{{artisan.sousSpecialite[0].specialite.nom}}</h4>
                            <h5>{{ artisan.nom | upper}}</h5>
                            <span>{{artisan.codePostal}} {{artisan.adresse}}</span><br/>
                            <b>Spécialité : {% for souspecialite in artisan.sousSpecialite %} {{ souspecialite.nom }} | {% else %} nothing {% endfor %}</b>
                            <p><i class="fa fa-phone-square"></i> <i class="fa fa-envelope "></i> +33 {{ artisan.telephone }} | </p>
                        </div>
                        <div class="col-md-3">
                            <img style="width:100%;" src="{{ asset('img/banniere.jpg') }}" />

                        </div>
                    </div>
                    {% else %}
                    Pas d'artisan
                {% endfor %}

            </div>
            <nav aria-label="Page navigation example">
                <div class="navigation" style="float: right">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </nav>
        </div>
    </div>
    <!-- Contact Section END -->


    {{ render(controller('App\\Controller\\Index\\DefaultController::footer')) }}


    <!-- Scroll to top button Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <!-- Scroll to top button End -->

{% endblock %}
