{% extends 'template.html.twig' %}

{% block title %}Liste des estimations{% endblock %}

{% block body %}
				<div class="page-inner mt--5">
					<div class="row mt--2">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Liste des estimations</h4>
										<a href="{{ path('estimation_new') }}" class="btn btn-primary btn-round ml-auto">
											<i class="fa fa-plus"></i>
											Ajouter une estimation
										</a>
									</div>
								</div>
								<div class="card-body">
									

									<div class="table-responsive">
										<table id="add-row" class="display table table-striped table-hover" >
        <thead>
            <tr>
                <th>Id</th>
                <th>DateEn</th>
                <th>Etat</th>
                <th>TypeBien</th>
                <th>DebutTravaux</th>
                <th>Ville</th>
                <th>Addresse</th>
                <th>Description</th>
                <th>Codepostal</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estimation in estimations %}
            <tr>
                <td>{{ estimation.id }}</td>
                <td>{{ estimation.dateEn ? estimation.dateEn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ estimation.etat }}</td>
                <td>{{ estimation.typeBien }}</td>
                <td>{{ estimation.debutTravaux }}</td>
                <td>{{ estimation.ville }}</td>
                <td>{{ estimation.addresse }}</td>
                <td>{{ estimation.description }}</td>
                <td>{{ estimation.codepostal }}</td>
                <td>{{ estimation.titre }}</td>
                <td>
                    <a href="{{ path('estimation_show', {'id': estimation.id}) }}" class="btn btn-link btn-primary btn-lg" ><i class="fa fa-eye"></i> show</a>
                    <a href="{{ path('estimation_edit', {'id': estimation.id}) }}" class="btn btn-link btn-danger" ><i class="fa fa-edit"></i> show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
								</div>
							</div>
						</div> 	
						
					</div>
					
				</div>
{% endblock %}			
