{% extends 'template.html.twig' %}

{% block title %}Liste des packs{% endblock %}

{% block body %}
				<div class="page-inner mt--5">
					<div class="row mt--2">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Liste des packs</h4>
										<a href="{{ path('pack_new') }}" class="btn btn-primary btn-round ml-auto">
											<i class="fa fa-plus"></i>
											Ajouter un pack
										</a>
									</div>
								</div>
								<div class="card-body">
									

									<div class="table-responsive">
										<table id="add-row" class="display table table-striped table-hover" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Duree</th>
                <th>Description</th>
                <th>Best</th>
                <th>Icon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pack in packs %}
            <tr>
                <td>{{ pack.id }}</td>
                <td>{{ pack.nom }}</td>
                <td>{{ pack.prix }}</td>
                <td>{{ pack.duree }}</td>
                <td>{{ pack.description }}</td>
                <td>{{ pack.best ? 'Yes' : 'No' }}</td>
                <td>{{ pack.icon }}</td>
                <td>
                    <a href="{{ path('pack_show', {'id': pack.id}) }}" class="btn btn-primary" title="Consulter" ><i class="fa fa-eye"></i> </a>
                    <a href="{{ path('pack_edit', {'id': pack.id}) }}" class="btn btn-warning" title="Modifier"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
								</div>
							</div>
						</div> 	
						
					</div>
					
				</div>
{% endblock %}			