{% extends 'base.html.twig' %}
{% block body %}



    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- Preloader End ici qu'il faut rajouter le menu -->

    {{ render(controller('App\\Controller\\Index\\DefaultController::menu')) }}

    <!-- Navbar END -->



    <!-- Contact Section START -->
    <div class="section-block">
        <div class="container">
            <div class="row">
                <!-- Left Side START -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="services-single-left-box">

                        <!-- Vertical Menu START -->
                        <div class="services-single-left-heading">
                            <h4>Mon Menu</h4>
                        </div>
                        {{ render(controller("App\\Controller\\Client\\ClientController::menu",{id:1})) }}
                        <!-- Vertical Menu END -->

                    </div>
                </div>
                <!-- Left Side END -->

                <!-- Right Side START -->
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="contact-box">
                                <h1 style="color: #2193f1">{{ render(controller('App\\Controller\\Client\\ClientController::nbrAnnonce')) }}</h1>
                                <h4>Mes annonces </h4>
                                <a href="{{ path('client_annonce') }}" class="dark-button1 button-md">Détails</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="contact-box">
                                <h1 style="color: #2193f1">{{ render(controller('App\\Controller\\Client\\ClientController::nbrEstimation')) }}</h1>
                                <h4>Mes estimations</h4>
                                <a href="{{ path('client_estimation') }}" class="dark-button1 button-md">Détails</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="contact-box">
                                <h1 style="color: #2193f1">{{ render(controller('App\\Controller\\Client\\ClientController::nbrAvis')) }}</h1>
                                <h4>Mes avis</h4>
                                <a href="{{ path('client_avis') }}" class="dark-button1 button-md">Détails</a>
                            </div>
                        </div>

                    </div>
                    <div class="row">


                    </div>

                </div>
                <!-- Right Side END -->
            </div>
        </div>
    </div>
    <!-- Contact Section END -->




    {{ render(controller('App\\Controller\\Index\\DefaultController::footer')) }}


    <!-- Scroll to top button Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <!-- Scroll to top button End -->

{% endblock %}

{% block script %}
    <script>
        toastr.options.showMethod = 'slideDown';
        toastr.options.hideMethod = 'slideUp';
        toastr.options.closeMethod = 'slideUp';
        toastr.options.positionClass = 'toast-top-full-width';
        toastr.options.progressBar = true
        toastr.options.closeButton = true;
        toastr.options.timeOut = 30000;
        toastr.options.extendedTimeOut = 6000;
        {% for flashMessage in app.session.flashbag.get('confirmer') %}

        toastr.success('{{ flashMessage }}')

        {% endfor %}

    </script>
{% endblock %}