<div class="services-single-menu mt-30">
    <ul>
        <li {% if id == 1 %} class="services-active" {% endif %} ><a href="{{ path('client') }}">Tableau de bord</a></li>
        <li {% if id == 2 %} class="services-active" {% endif %} ><a href="{{ path('client_annonce') }}">Mes annonces <span class="badge " style="float: right; margin-right: 5px; background-color: #0a74a7 ">{{ render(controller('App\\Controller\\Client\\ClientController::nbrAnnonce')) }}</span></a> </li>
        <li {% if id == 3 %} class="services-active" {% endif %}><a href="#">Mes estimations <span class="badge " style="float: right; margin-right: 5px; background-color: #0a74a7 ">0</span></a></li>
        <li {% if id == 4 %} class="services-active" {% endif %}><a href="#">Mes avis <span class="badge " style="float: right; margin-right: 5px; background-color: #0a74a7 ">{{ render(controller('App\\Controller\\Client\\ClientController::nbrAvis')) }}</span></a></li>
        <li {% if id == 5 %} class="services-active" {% endif %}><a href="{{ path('client_information') }}">Mes informations</a></li>
        <li {% if id == 6 %} class="services-active" {% endif %}><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>

    </ul>
</div>