{% extends 'template.html.twig' %}

{% block title %}Liste des sous spécialités{% endblock %}

{% block body %}
				<div class="page-inner mt--5">
					<div class="row mt--2">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Liste des sous spécialités</h4>
										<a href="{{ path('sous_specialite_new') }}" class="btn btn-primary btn-round ml-auto">
											<i class="fa fa-plus"></i>
											Ajouter un sous spécialité
										</a>
									</div>
								</div>
								<div class="card-body">
									

									<div class="table-responsive">
										<table id="add-row" class="display table table-striped table-hover" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DesCourte</th>
                <th>DesLongue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_specialite in sous_specialites %}
            <tr>
                <td>{{ sous_specialite.id }}</td>
                <td>{{ sous_specialite.nom }}</td>
                <td>{{ sous_specialite.desCourte }}</td>
                <td>{{ sous_specialite.desLongue }}</td>
                <td>
                    <a href="{{ path('sous_specialite_show', {'id': sous_specialite.id}) }}" class="btn btn-primary" title="Consulter" ><i class="fa fa-eye"></i> </a>
                    <a href="{{ path('sous_specialite_edit', {'id': sous_specialite.id}) }}" class="btn btn-warning" title="Modifier"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
								</div>
							</div>
						</div> 	
						
					</div>
					
				</div>
{% endblock %}			