{% extends 'base.html.twig' %}
{% block body %}



    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- Preloader End ici qu'il faut rajouter le menu -->

    {{ render(controller('App\\Controller\\Index\\DefaultController::menuArtisan')) }}
    <!-- Contact Section START -->
    <div class="section-block">
        <div class="container">
            <div class="row">
                <!-- Left Side START -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="services-single-left-box">
                        <!-- Vertical Menu START -->
                        <div class="services-single-left-heading">
                            <h4>Mon Menu</h4>
                        </div>
                        {{ render(controller('App\\Controller\\Artisan\\ArtisanController::menu',{id:6}))}}
                        <!-- Vertical Menu END -->

                    </div>
                </div>
                <!-- Left Side END -->
                <!-- Right Side START -->
                {% block droit %}
                    <div class="col-md-9 col-sm-7 mt-50">
                        {% for item in abonnements %}
                            <div class="alert alert-info" role="alert">
                                Votre abonnement expire le {{item.dateExp | date}}
                            </div>
                            {% else %}
                                <div class="alert alert-warning" role="alert">
                                    Vous n'avez pas d'abonnement !
                                </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('paiementReussi') %}
                            <div class="alert alert-success" role="alert">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('paiementError') %}
                            <div class="alert alert-danger" role="alert">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}

                        <div class="section-heading center-holder">
                                    <span>Nos Packs</span>
                        </div>
                                <div class="row no-gutters mt-60">
                                    {% for  pack in packs %}
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="pricing-list-2 {% if pack.best %} pricing-list-2-emphasise {% endif %}">
                                                <div class="pricing-list-2-top">
                                                    <i class="{{ pack.icon }}"></i>
                                                </div>
                                                <h4>{{ pack.nom }}</h4>
                                                <div class="pricing-list-2-price">
                                                    <h3>{{ pack.prix }}<sup>€</sup></h3>

                                                </div>
                                                <div class="pricing-list-2-button {% if pack.best %}pricing-list-2-button-act{% endif %}">

                                                    <a href="{{ path("initier_paiement", {id:pack.id}) }}">Acheter</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
                {% endblock %}
                <!-- Right Side END -->
            </div>
        </div>
    </div>
    <!-- Contact Section END -->
    {{ render(controller('App\\Controller\\Index\\DefaultController::footer')) }}
    <!-- Scroll to top button Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <!-- Scroll to top button End -->

{% endblock %}
{% block script %}
    <script>

    </script>
{% endblock %}