{% extends 'template.html.twig' %}
{% block title %}Catégorie{% endblock %}
{% block body %}
<div class="page-inner mt--5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Consulter Catégorie</div>
									<div class="card-category">Blog > Catégorie > Consulter</div>
								</div>
   <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie_blog.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ categorie_blog.titre }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="card-action">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('categorie_blog_index') }}" class="btn btn-primary" >back to list</a>

                <a href="{{ path('categorie_blog_edit', {'id': categorie_blog.id}) }}" class="btn btn-warning" ><i class="fa fa-edit"></i> Modifier</a>
            </div>										
        </div>
    </div>
   

    {{ include('categorie_blog/_delete_form.html.twig') }}

