{% extends 'base.html.twig' %}
{% block body %}



    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- Preloader End ici qu'il faut rajouter le menu -->

    {{ render(controller('App\\Controller\\Index\\DefaultController::menuArtisan')) }}
    <style>
        .custab{
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5% 0;
            box-shadow: 3px 3px 2px #ccc;
            transition: 0.5s;
        }
        .custab:hover{
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }
        div{
            color: #000000;
        }
    </style>
    <!-- Contact Section START -->
    <div class="section-block">
        <div class="container">
            <div class="row">
                <!-- Left Side START -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="services-single-left-box">

                        <!-- Vertical Menu START -->
                        <div class="services-single-left-heading">
                            <h4>Mon Menu</h4>
                        </div>
                        {{ render(controller('App\\Controller\\Artisan\\ArtisanController::menu',{id:2}))}}
                        <!-- Vertical Menu END -->

                    </div>
                </div>
                <!-- Left Side END -->

                <!-- Right Side START -->
                {% block droit %}
                    <div class="col-md-9 col-sm-7 mt-15">
                        <aside class="mt-35">
                            <article class="card-body p-5 pl-20">
                                <h3 class="title mb-10 text-uppercase">Annonce #{{ annonce.id }}</h3>
                                <p class="price-detail-wrap mb-5">
                                    <span class="price h3 text-warning">
                                        {% for sousspectialite in annonce.sousSpectialite %}
                                            <span class="badge">{{ sousspectialite }}</span>
                                        {% endfor %}
                                    </span>
                                </p> <!-- price-detail-wrap .// -->
                                <dl class="item-property mt-10">
                                    <dt>Description</dt>
                                    <dd>
                                        <p style="text-align: justify">{{ annonce.description }}</p>
                                    </dd>
                                </dl>

                                <dl class="param param-feature">
                                    <dt>Client</dt>
                                    <dd>{{ annonce.client.prenom }} {{ annonce.client.nom }}</dd>
                                </dl>  <!-- item-property-hor .// -->
                                <dl class="param param-feature">
                                    <dt>Adresse</dt>
                                    <dd>{{ annonce.client.adresse }}</dd>
                                </dl>  <!-- item-property-hor .// -->

                                <div style="float: right">
                                    {{ form_start(form) }}
                                    <a href="#" class="btn btn-lg btn-danger">Refuser</a>
                                    <button type="submit" class="btn btn-lg btn-primary">Accepter</button>
                                    {{ form_end(form) }}
                                </div>

                            </article> <!-- card-body.// -->
                        </aside>
                    </div>
                {% endblock %}
                <!-- Right Side END -->
            </div>
        </div>
    </div>
    <!-- Contact Section END -->
    {{ render(controller('App\\Controller\\Index\\DefaultController::footer')) }}
    <!-- Scroll to top button Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <!-- Scroll to top button End -->

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {
            var readURL = function(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.avatar').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(".file-upload").on('change', function(){
                readURL(this);
            });
        });
    </script>
{% endblock %}