{% extends 'template.html.twig' %}
{% block title %}Attribut additionnel{% endblock %}
{% block body %}
<div class="page-inner mt--5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Consulter Attribut additionnel</div>
									<div class="card-category">Paramètres > Attribut additionnel > Consulter</div>
								</div>
   <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attribut_add.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ attribut_add.nom }}</td>
            </tr>
            <tr>
                <th>TypeRep</th>
                <td>{{ attribut_add.typeRep }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="card-action">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('attribut_add_index') }}" class="btn btn-primary" >back to list</a>

                <a href="{{ path('attribut_add_edit', {'id': attribut_add.id}) }}" class="btn btn-warning" ><i class="fa fa-edit"></i> Modifier</a>
            </div>										
        </div>
    </div>
   

    {{ include('attribut_add/_delete_form.html.twig') }}

