{% extends 'template.html.twig' %}

{% block title %}Liste des affectation{% endblock %}

{% block body %}
				<div class="page-inner mt--5">
					<div class="row mt--2">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Liste des affectation</h4>
										<a href="{{ path('affectation_new') }}" class="btn btn-primary btn-round ml-auto">
											<i class="fa fa-plus"></i>
											Faire une affectation
										</a>
									</div>
								</div>
								<div class="card-body">
									

									<div class="table-responsive">
										<table id="add-row" class="display table table-striped table-hover" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Date En</th>
                <th>Annonce</th>
                <th>Estimation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affectation in affectations %}
            <tr>
                <td>{{ affectation.id }}</td>
                <td>{{ affectation.dateEn ? affectation.dateEn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ affectation.annonce }}</td>
                <td>{{ affectation.estimation }}</td>
                <td>
                    <a href="{{ path('affectation_show', {'id': affectation.id}) }}" class="btn btn-primary" title="Consulter" ><i class="fa fa-eye"></i> </a>
                    <a href="{{ path('affectation_edit', {'id': affectation.id}) }}" class="btn btn-warning" title="Modifier"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
								</div>
							</div>
						</div> 	
						
					</div>
					
				</div>
{% endblock %}			
