{% extends 'template.html.twig' %}
{% block title %}Affectation{% endblock %}
{% block body %}
<div class="page-inner mt--5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Consulter Affectation</div>
									<div class="card-category">Devis/Annonce > Affectation > Consulter</div>
								</div>
   <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ affectation.id }}</td>
            </tr>
            <tr>
                <th>DateEn</th>
                <td>{{ affectation.dateEn ? affectation.dateEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="card-action">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('affection_index') }}" class="btn btn-primary" >back to list</a>

                <a href="{{ path('affection_edit', {'id': affection.id}) }}" class="btn btn-warning" ><i class="fa fa-edit"></i> Modifier</a>
            </div>										
        </div>
    </div>
   

    {{ include('affection/_delete_form.html.twig') }}

