{% extends 'template.html.twig' %}
{% block title %}Affectation{% endblock %}
{% block body %}
<div class="page-inner mt--5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Consulter Affectation</div>
									<div class="card-category">Devis/Annonce > Affectation > Consulter</div>
								</div>
   <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ affectation.id }}</td>
            </tr>
            <tr>
                <th>Annonce</th>
                <td>{{ affectation.annonce }}</td>
            </tr>
             <tr>
                <th>Estimation</th>
                <td>{{ affectation.estimation }}</td>
            </tr>
            
            <tr>
                <th>Date En</th>
                <td>{{ affectation.dateEn ? affectation.dateEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="card-action">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('affectation_index') }}" class="btn btn-primary" ><i class="fa fa-arrow-circle-left"></i> Retourner à la liste</a>

                <a href="{{ path('affectation_edit', {'id': affectation.id}) }}" class="btn btn-warning" ><i class="fa fa-edit"></i> Modifier</a>
            </div>										
        </div>
    </div>
   

    {{ include('affectation/_delete_form.html.twig') }}


									
								
							</div>
						</div>
					</div>
					
				</div>
			
{% endblock %}
