{% extends "baseFosUser.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- Preloader End ici qu'il faut rajouter le menu -->

    {{ render(controller('App\\Controller\\Index\\DefaultController::menuArtisan')) }}

    <!-- Page Title START -->
    <div class="page-title-section" style="background-image: url({{ asset('img/annonce.jpg') }});">
        <div class="container">
            <h1>Inscrivez vous</h1>
            <ul>
                <li><a href="{{ path('default') }}">Accueil</a></li>
                <li><a href="{{ path('fos_user_registration_artisan_register') }}">Inscription</a></li>
            </ul>
        </div>
    </div>
    <!-- Page Title END -->


    <!-- Contact Section START -->
    <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
    <div class="section-block">
        <div class="container">
            <h2 class="text-center" id="title">Authentification</h2>
            <p class="text-center">
                <small id="passwordHelpInline" class="text-muted">Authentifiez vous pour gerer vos annonces</small>
            </p>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: center;">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
                </div>

            </div>
        </div>
    </div>
    <!-- Contact Section END -->


    {{ render(controller('App\\Controller\\Index\\DefaultController::footer')) }}


    <!-- Scroll to top button Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <!-- Scroll to top button End -->

{% endblock fos_user_content %}
