
<div class="services-single-menu mt-30">
    <ul>
        <li class="{% if id ==0  %} services-active {% endif %}"><a href="{{ path('artisan') }}">Tableau de bord</a></li>
        <li class="{% if id ==2  %} services-active {% endif %}"><a href="{{ path("artisan_annonces")}}">Annonces <span class="badge " style="float: right; margin-right: 5px; background-color: #0a74a7 ">{{ render(controller('App\\Controller\\Artisan\\ArtisanController::nbrAnnonce')) }}</span></a></li>
        <li class="{% if id ==3  %} services-active {% endif %}"><a href="{{ path("artisan_estimation") }}">Estimations <span class="badge " style="float: right; margin-right: 5px; background-color: #0a74a7 ">{{ render(controller('App\\Controller\\Artisan\\ArtisanController::nbrEstimation')) }}</span></a></li>
        <li class="{% if id ==4  %} services-active {% endif %}"><a href="#">Mes avis</a></li>
        <li class="{% if id ==6  %} services-active {% endif %}"><a href="{{ path("artisan_abonement") }}">Abonnement</a></li>
        <li class="{% if id ==5  %} services-active {% endif %}"><a href="#">Mes informations</a></li>
        <li class=""><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
    </ul>
</div>
