{% extends 'base.html.twig' %}
{% block body %}



    <!-- Preloader Start-->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- Preloader End ici qu'il faut rajouter le menu -->

    {{ render(controller('App\\Controller\\Index\\DefaultController::menuArtisan')) }}
    <style>
        .custab{
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5% 0;
            box-shadow: 3px 3px 2px #ccc;
            transition: 0.5s;
        }
        .custab:hover{
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }
        div{
            color: #000000;
        }
    </style>
    <!-- Contact Section START -->
    <div class="section-block">
        <div class="container">
            <div class="row">
                <!-- Left Side START -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="services-single-left-box">

                        <!-- Vertical Menu START -->
                        <div class="services-single-left-heading">
                            <h4>Mon Menu</h4>
                        </div>
                        {{ render(controller('App\\Controller\\Artisan\\ArtisanController::menu',{id:3}))}}
                        <!-- Vertical Menu END -->

                    </div>
                </div>
                <!-- Left Side END -->

                <!-- Right Side START -->
                {% block droit %}
                    <div class="col-md-9 col-sm-7 mt-15">
                            <div class="row">

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <h3 class="title mb-10 text-uppercase">Estimation #{{ estimation.id }}</h3> {% if etat == "En attente" %} <span class="label label-warning"> {{ etat }} </span>{% endif %}  {% if etat == "Confirmer" %} <span class="label label-info"> {{ etat }} </span>{% endif %} {% if etat == "Refuser" %} <span class="label label-danger"> {{ etat }} </span>{% endif %} {% if etat == "Accepter" %} <span class="label label-primary"> {{ etat }} </span>{% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-lg-6">
                                        <p style="font-weight: 700 !important; color: black;">Titre</p>
                                        <p>{{ estimation.titre }}</p>
                                    </div>

                                    <div class="col-md-6 col-sm-12 col-lg-6">
                                        <p style="font-weight: 700 !important; color: black;">Type de travaux</p>
                                        <p>{{ estimation.specialite }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-lg-6">
                                        <p style="font-weight: 700 !important; color: black;">Précision</p>
                                        <p class="price-detail-wrap mb-5">
                                            <span class="price h3 text-warning">
                                                {% for sousspectialite in estimation.sousSpecialite %}
                                                    <span class="badge">{{ sousspectialite }}</span>
                                                {% endfor %}
                                            </span>
                                        </p> <!-- price-detail-wrap .// -->
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-lg-6">
                                        <p style="font-weight: 700 !important; color: black;">Type de bien</p>
                                        <p>{{ estimation.typeBien }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <p style="font-weight: 700 !important; color: black;">Début des travaux</p>
                                        <p>{{ estimation.debutTravaux }}</p>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <p style="font-weight: 700 !important; color: black;">Description du travail</p>
                                        <p>{{ estimation.description }}</p>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-lg-6">
                                        <p style="font-weight: 700 !important; color: black;">Nom du Client</p>
                                        <p>{{ estimation.client.prenom }} {{ estimation.client.nom }}</p>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-lg-6">
                                        <p style="font-weight: 700 !important; color: black;">Adresse</p>
                                        <p>{{ estimation.addresse }} {{ estimation.ville }} {{ estimation.codepostal }}</p>
                                    </div>

                                </div>

                                {% if etat =="En attente" %}
                                <div style="float: right">
                                    {{ form_start(form) }}
                                    <a href="{{ path('artisan_estimation') }}" class="btn btn-lg btn-danger">Refuser</a>
                                    <button type="submit" class="btn btn-lg btn-primary">Accepter</button>
                                    {{ form_end(form) }}
                                </div>
                                {% endif %}
                            </div> <!-- card-body.// -->
                    </div>
                {% endblock %}
                <!-- Right Side END -->
            </div>
        </div>
    </div>
    <!-- Contact Section END -->
    {{ render(controller('App\\Controller\\Index\\DefaultController::footer')) }}
    <!-- Scroll to top button Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <!-- Scroll to top button End -->

{% endblock %}
{% block script %}
    <script>

    </script>
{% endblock %}