{% extends 'template.html.twig' %}

{% block title %}Liste des transactions{% endblock %}

{% block body %}
				<div class="page-inner mt--5">
					<div class="row mt--2">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Liste des transactions</h4>
										<a href="{{ path('transaction_new') }}" class="btn btn-primary btn-round ml-auto">
											<i class="fa fa-plus"></i>
											Ajouter une transaction
										</a>
									</div>
								</div>
								<div class="card-body">
									

									<div class="table-responsive">
										<table id="add-row" class="display table table-striped table-hover" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Numero</th>
                <th>DateEn</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
                <th>Token</th>
                <th>Amount</th>
                <th>Response</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.prix }}</td>
                <td>{{ transaction.numero }}</td>
                <td>{{ transaction.dateEn ? transaction.dateEn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.start ? transaction.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.end ? transaction.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.status }}</td>
                <td>{{ transaction.token }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.response ? transaction.response|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('transaction_show', {'id': transaction.id}) }}" class="btn btn-link btn-primary btn-lg" ><i class="fa fa-eye"></i> show</a>
                    <a href="{{ path('transaction_edit', {'id': transaction.id}) }}" class="btn btn-link btn-danger" ><i class="fa fa-edit"></i> show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
								</div>
							</div>
						</div> 	
						
					</div>
					
				</div>
{% endblock %}			